Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier:
        - subnet-0ab6bc24768acea8f  # Asegúrate de que estas subredes existan y estén disponibles
        - subnet-00fe6ac91d5ba81cb
      LaunchTemplate:
        LaunchTemplateName: !Ref AWSEBLaunchTemplate
        Version: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber

  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t3.micro
        SecurityGroupIds:
          - sg-0005a43f0cf3bd59f  # Asegúrate de que este grupo de seguridad exista
        ImageId: ami-0453ec754f44f9a4a  # Confirma que esta AMI sea compatible y esté disponible

