Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      VPCZoneIdentifier:
        - subnet-0ab6bc24768acea8f  
        - subnet-00fe6ac91d5ba81cb 
      LaunchTemplate:
        LaunchTemplateName: !Ref AWSEBLaunchTemplate
        Version: !GetAtt AWSEBLaunchTemplate.LatestVersionNumber

  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t3.micro  
        SecurityGroupIds:
          - sg-0005a43f0cf3bd59f  
        ImageId: ami-0453ec754f44f9a4a 
